{% extends 'layout.html' %}

<!-- MAIN -->
{% block main %}
<section>
    <br><br>
    <br><br>
<form action="/wol" method="post">
  <div class="columns has-text-centered">
    <div class="column is-half is-offset-one-quarter">
      <label class="label">Direccion ip publica o dominio</label>
      <input class="input is-info" type="text"  name="dir_ip" id="dir_ip"  placeholder="x.x.x.x or example.ddns.net" value="{{dir_ip}}" required>
      <!-- <p class="help is-success"></p> --><br><br>
      
      <label class="label">dirección mac del trasto a despertar ej: 1a2b3c4d5e6f o 1a-2b-3c-4d-5e-6f</label>
      <input class="input is-info" type="text"  name="dir_mac" id="dir_mac"  placeholder="1A-2B-3C-4D-5E-6F" value="{{dir_mac}}" pattern="^([0-9A-Fa-f]{2}[:-.]){5}([0-9A-Fa-f]{2})$" required>
      <br><br>
      <button class="button is-medium is-danger" name="form-submit"type="submit">¡Despierta!</button>



      <br><br><br><br><br><br><br><br>
      </div>
    </form>
</section>

{% endblock %}
